body{
    background-color: #353535;
}

footer{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: darkgray;
}

a:hover{
    color: white;
    text-decoration: underline;
}